<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.training.core.mapper.TrainingAuditMapper">
 <select id="examineTraining" >
    update training_audit
    set audit_time=now(), audit_remark=#{param.auditRemark}, audit_status=#{param.auditResult}
    where training_audit_id=#{param.trainingAuditId}

 </select>

    <insert id="uploadLearnRecord">
       insert into  training_audit(training_audit_id,training_id,user_id,content,file_id,audit_status,audit_time,audit_remark,is_del,create_time,update_time)
       values(#{trainingAuditId},#{trainingId},#{userId},#{content},#{fileId},#{auditStatus},#{auditTime},#{auditRemark},#{isDel},now(),now())
    </insert>
</mapper>
