<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.training.core.mapper.TrainingMapper">
    <resultMap id="TrainingListItem" type="com.example.training.core.entity.vo.TrainingListItemVO">
        <id column="id" property="id"/>
        <result column="training_id" property="trainingId"/>
        <result column="training_name" property="trainingName"/>
        <result column="training_type" property="trainingType"/>
        <result column="training_time" property="trainingTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="training_address" property="trainingAddress"/>
        <result column="training_content" property="trainingContent"/>
        <result column="training_progress" property="trainingProgress"/>
        <result column="is_participate" property="isParticipate"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="createTraining">
        insert into training(training_id, training_name, training_type, training_time, training_address,
                             training_content,create_time, update_time, is_del)
        values (#{trainingId}, #{trainingName}, #{trainingType}, #{trainingTime}, #{trainingAddress},
                #{trainingContent}, NOW(), NOW(), #{isDel})
    </insert>

    <select id="findTrainList" resultMap="TrainingListItem">
        select t1.training_id, t1.training_name, t1.training_type, t1.training_time, t1.training_address, t1.training_content,
            IF(COUNT(t2.status) = 0, 0, SUM(IF((t2.status = 200 and t2.is_del = 0), 1, 0)) / COUNT(t2.status) * 100) AS training_progress,
            SUM(IF(t2.user_id = #{param.queryUserId}, 1, 0)) > 0 AS is_participate
        from training t1
        left join training_user t2 on t1.training_id = t2.training_id
        where
            t1.is_del = '0'
            <if test="param.trainingName != null and param.trainingName != ''">
                and t1.training_name like concat('%', #{param.trainingName}, '%')
            </if>
            <if test="param.trainingAddress != null and param.trainingAddress != ''">
                and t1.training_address like concat('%', #{param.trainingAddress}, '%')
            </if>
            <if test="param.trainingType != null">
                and t1.training_type = #{param.trainingType}
            </if>
            <if test="param.startDate">
                and t1.training_time &gt;= #{param.startDate}
            </if>
            <if test="param.endDate">
                and t1.training_time &lt;= #{param.endDate}
            </if>
        group by t1.training_id
        <if test="param != null and param.offset != null">
            limit #{param.limit} offset #{param.offset}
        </if>
    </select>

    <select id="findTrainListUser" resultMap="TrainingListItem">
        select t1.training_id, t1.training_name, t1.training_type, t1.training_time, t1.training_address, t1.training_content, IF(t2.is_del = 1, null, t2.status) AS `status`
        from training t1
        left join training_user t2 on t1.training_id = t2.training_id
        <if test="param.queryUserId != null and param.queryUserId != ''">
            and t2.user_id = #{param.queryUserId}
        </if>
        where
            t1.is_del = '0'
            <if test="param.trainingName != null and param.trainingName != ''">
                and t1.training_name like concat('%', #{param.trainingName}, '%')
            </if>
            <if test="param.trainingAddress != null and param.trainingAddress != ''">
                and t1.training_address like concat('%', #{param.trainingAddress}, '%')
            </if>
            <if test="param.trainingType != null">
                and t1.training_type = #{param.trainingType}
            </if>
            <if test="param.startDate">
                and t1.training_time &gt;= #{param.startDate}
            </if>
            <if test="param.endDate">
                and t1.training_time &lt;= #{param.endDate}
            </if>
        <if test="param != null and param.offset != null">
            limit #{param.limit} offset #{param.offset}
        </if>
    </select>

    <select id="getComp" resultType="Float">
        SELECT
                SUM(CASE WHEN audit_status='1' THEN 1 ELSE 0 END) / NULLIF(COUNT(*), 0) AS audit_status_ratio
        FROM (
                 SELECT
                     training_audit.audit_status
                 FROM
                     training_user
                         LEFT OUTER JOIN
                     training_audit ON training_audit.training_id = training_user.training_id
                 WHERE
                     training_user.training_id = #{trainingId} and training_user.is_del != '1'
             ) AS t;
    </select>

</mapper>
