<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.training.core.mapper.TrainingUserMapper">
    <insert id="addPerson">
        insert into training_user(training_id,user_id,is_del,create_time,update_time)
        values(#{trainingId},#{user.userId},0,now(),now())
    </insert>

    <select id="cancelSignUp" resultType="Integer">
        update training_user set id_del='1',update_time=now() where training_id=#{trainingId} and user_id=#{user}
    </select>
</mapper>
